DOCKER_PROJECT="MyVocabularyApi"
PROJECT_PREFIX=my-vocabulary-api
DEFAULT_ADMIN=admin@example.com
DEFAULT_USER=user@example.com
DEFAULT_PASSWORD=secret
##### > SWAGGER CONFIGURATION < #####
L5_SWAGGER_GENERATE_ALWAYS=false

##### > DEFAULT USER CREDENTIALS < #####
#
# These credentials are exclusively used for seeding the database with initial data.
# For production environments, create new admin credentials and remove the defaults.
#
# Email for default admin:
DEFAULT_ADMIN=admin@serv.com
# Email for default user:
DEFAULT_USER=user@serv.com

# DEFAULT_USERS_PASSWORD:
# This password is used only for seeded users and admins, not for new registrations.
# Ensure this is changed in production for security reasons.
DEFAULT_USERS_PASSWORD=D3fault-p@5s
